@import '../fonts/fonts.css';

:root {
  font-family: 'Bradley Hand';
  line-height: 1.1;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background: #121212;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, 
body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 100vh;
  background: #121212;
}

h1 {
  color: #bdda57;
  font-size: 40px;
  line-height: 40px;
  margin: 0;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.start,
.stop {
  background: transparent;
  border: 2px solid #bdda57;
  border-radius: 10px;
  cursor: pointer;
  width: 100px;
  height: 48px;
  font-family: 'Bradley Hand';
  line-height: 1.5;
  font-size: 22px;
  color: #bdda57;
  display: block;
  transition: background .5s ease;
} 

.stop:hover, 
.start:hover,
.speed:hover {
  background: rgb(173, 223, 173, 0.2);
}

.stop {
  display: none;
}

.score {
  text-align: center;
  font-size: 30px;
}

.speeds {
  display: flex;
  justify-content: space-between;
  padding: 0;
  list-style-type: none;
  align-items: center;
  margin: 30px auto 0;
}

.speed {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: 2px solid #bdda57;
  border-radius: 10px;
  cursor: pointer;
  width: 80px;
  height: 30px;
  font-family: 'Bradley Hand';
  line-height: 1.5;
  font-size: 18px;
  color: #bdda57;
}

.active {
  background: rgb(173, 223, 173, 0.2);
}

canvas {
  background: url('../images/grass.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 0px 24px 6px rgba(121,  159,  75, 0.3); 
  border-radius: 8px;
}

.border,
.border-red {
  position: relative;
  z-index: 0;
  width: 410px;
  height: 410px;
  border-radius: 10px;
  overflow: hidden;
  margin: 40px auto 20px;
  display: flex;
  align-items: center;
  justify-content: center;  
  font-size: 24px;
  position: relative;
  font-family: 'Bradley Hand'; 
  --sq-color: linear-gradient(#ADDFAD, #ADDFAD), linear-gradient(#bdda57, #bdda57), linear-gradient(#ADDFAD, #ADDFAD), linear-gradient(#bdda57, #bdda57);
}

.border-red {
  --sq-color: linear-gradient(#d12527, #d12527), linear-gradient(#fa700d, #fa700d), linear-gradient(#d12527, #d12527), linear-gradient(#fa700d, #a15f5d);
}

.container__finish-game {
  position: absolute;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  background: #121212;
  text-align: center;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  border: 2px solid #bdda57;
  border-radius: 12px;
}

.finish-score {
  color: #bdda57;
  font-family: "Press Start 2P", system-ui;
  font-size: 20px;
  margin: 0 auto;
}

.finish-game {
  color: #bdda57;
  font-family: "Press Start 2P", system-ui;
  font-size: 40px;
  margin: 0 auto;
}

.border::before {
  content: '';
  position: absolute;
  z-index: -2;
  left: -50%;
  top: -50%;
  width: 200%;
  height: 200%;
  background-color: #BFE2FF;
  background-repeat: no-repeat;
  background-size: 50% 50%, 50% 50%;
  background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  background-image: var(--sq-color);
  animation: anim-border 4s linear infinite;
}
.border::after {
  content: '';
  position: absolute;
  z-index: -1;
  left: 6px;
  top: 6px;
  width: calc(100% - 12px);
  height: calc(100% - 12px);
  background: white;
  border-radius: 5px;
}
@keyframes anim-border {
  100% {
      transform: rotate(1turn);
  }
}

